<footer class="footer-style">
    <p class="text-muted text-center pb-0">
        <small>
            &copy; {{ 'now'|date('Y') }} &middot;
            Build by someone.
        </small>
    </p>
</footer>
