<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">
    <div class="container">
        <a class="navbar-brand" href=" {{ path('home') }} "> Gimme a Name </a>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href=" {{ path('pin_create') }} "> Create a pin </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{ path('pin_create') }} "> Account </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{ path('pin_create') }} "> Logout </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
