@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "~bootstrap";

html, body {
    font-family: 'Montserrat', sans-serif;
}

.footer-style {
    position: relative;
    bottom: 50px;
    left: 0;
    right: 0;
}

section h1 {
    font-size: 20px;
}

.alert {
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 0;
    border-radius: 0;

    &.alert-success {
        background-color: forestgreen;
    }
}

.vich-image  {
    .form-check {
        @extend .mt-3;
    }
    img {
        @extend .mb-2, .rounded, .shadow;
    }
}

.pin img {
    transition: transform 0.4s ease-out;
    &:hover {
        transform: scale(1.075);
    }
}

