@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "~bootstrap";

html, body {
    font-family: 'Montserrat', sans-serif;
}

.footer-style {
    position: relative;
    bottom: 50px;
    left: 0;
    right: 0;
}

section h1 {
    font-size: 20px;
}

.alert {
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 0;
    border-radius: 0;

    &.alert-success {
        background-color: forestgreen;
    }
}

.vich-image  {
    .form-check {
        @extend .mt-3;
    }
    img {
        @extend .mb-2, .rounded, .shadow;
    }
}

.pin img {
    transition: transform 0.4s ease-out;
    &:hover {
        transform: scale(1.075);
    }
}

.player {
    overflow: hidden;
    background-color: #eeeeee;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.playpause {

    margin-left: 6em;

    label {
        display: block;
        box-sizing: border-box;
        width: 0;
        height: 74px;
        border-color: transparent transparent transparent #202020;
        transition: 100ms all ease;
        cursor: pointer;
        border-style: double;
        border-width: 0 0 0 60px;
    }

    input[type="checkbox"] {
        visibility: hidden;

        &:checked + label {
            border-style: solid;
            border-width: 37px 0 37px 60px;
        }
    }
}